.bzrignore
.bzr/
build/
QtBuild/
CMakeLists.txt.user
dist/
nbproject/private/private.xml
.DS_Store
._.DS_Store
.dep.inc
nbproject/.DS_Store

nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

vgcore.*
