.bzrignore
.bzr/
build/
buildQt/
BuildXcode/
*.user
dist/
nbproject/private/private.xml
**/.DS_Store
**/._.DS_Store
**/.dep.inc

nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

vgcore.*
